@page
@model GUI.Pages.AddTransactionModel
@{
}

<p>Add Transaction page</p>
<form method="post">
	<label>User name</label>
	<input type="text" asp-for="@Model.trans.username" /><br>

	<label>Transaction Date and Time</label>
	<input type="datetime" asp-for="@Model.trans.Date" /><br>

	<label>Amount</label>
	<input type="text" asp-for="@Model.trans.Amount" /><br>

	<label>Transaction ID(unique)</label>
	<input type="number" asp-for="@Model.trans.TransactionId" /><br>

	<input type="submit" value="Confirm" />
</form>
